/*  your css code here. If applicable */
.marquee {
            width: 100%; /* Full width */
            overflow: hidden; /* Hide the overflow */
            position: relative;
            white-space: nowrap; /* Prevent the text from wrapping */
        }

        .marquee h1 {
            display: inline-block;
            position: absolute;
            will-change: transform;
            animation: marquee 10s linear infinite;
        }

        @keyframes marquee {
            0% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }
#topic {
    color: purple; /* Set the text color to purple */
     /* Add an underline to the text */
}
	
.image{
	height:200px;
	
}
.link1{
	color:blue;
	font-weight: bold;
}
.llink1{
	color:purple;
	font-weight: bold;
}
.para{
	text-decoration:underline;
	color:blue;
	font-size:small;
}
.lpara{
	text-decoration:underline;
	color:purple;
	font-size:small;
}